@import '../../breakpointsss/breakpoint.scss';

.title{ display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
}


.awesome{
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  font-size: 40px;
  color: var(--color-bg);
}

.line{
align-items: center;
justify-content: center;
  border-radius: 1rem;
  height: 7px;
  width: 10rem;
  background-color:  var(--color-primary);
  content: "";
  margin-left:5rem;
}

@include media ('<=tablet'){
  .awesome{
    margin-left: 2rem;
.awesome >a{

}

  .line{
      margin-left: 2rem;
  }
}
}