@import "../../breakpointsss/breakpoint.scss";


.Get{
    display: flex;
justify-content: center;
align-items: center;
padding: 0.5rem;
margin-top: 1rem;
background-color: orange;
width: 110%;
}

.button3{
    width: max-content;
    display: inline-block;
    color: var(--color-bg);
    padding: 0.65rem 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    align-items: center;
    justify-content: center;
margin-right: 9rem;
}

.button3>h4{
    color: var(--color-bg);
}

.button3:hover{
    background: var(--color-primary);
    color: var(--color-bg);
    border-color: transparent;
}

.Get>h4{
    color: var(--color-bg);
margin-right: 1rem;
}








@include media('<=tablet'){
    .Get{
        display: grid;
    }
    .Get>h4{

        margin-right: 1rem;
        padding: 0rem;
            }
            .button3{
                margin-left: 6rem;
                padding: 0.5rem 0.7rem;
                margin-right: 0.5rem;
            }
}

@include media('>tablet','<=desktop') {
    .Get>h4{
        margin-right: 5rem;

            }
            .button3{
                margin-left: 1rem;
                padding: 0.3rem 0.7rem;
                margin-right: 0.5rem;
            }
        }

