@import '../../breakpointsss//breakpoint.scss';

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0;

}

.col {

    display: flex;
    justify-content: center;
    align-items: center;
    .collapseble-button {
        display: none;
      }
}


    .links > ul{
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: center;
        margin: 1.3rem 2rem;
        gap: 2rem;
        padding-left: 0;

    }




    @media screen and (min-width: 320px) and (max-width: 1024px) {
        .navbar.active {
          nav {
            display: block;

          }
        }

        .navbar {
          flex-direction: column;
          justify-content: flex-start;

          .col {
display: flex;
justify-content: space-between;
            .collapseble-button {
margin-right: 2rem;

cursor: pointer;
              font-size: 2.5rem;
            }
          }



          nav {
            display: none;
            .links {
              ul {
                flex-direction: row;
                align-items: flex-end;
                position: relative;
                margin: 0.5rem 0rem;
                li {

                  &:first-of-type {
                    margin-top: 0rem;
                  }
                  a {
                    font-size: medium;
                  }
                }
              }
            }
          }
        }
      }






@media screen and (max-width: 1024px){
    .btn{
        padding: 5px;
}

.col{
    margin-left: 0px;
    .collapseble-button {
        display: block;
        font-size: 4rem;
      }
    }

    }
