@import '../../breakpointsss//breakpoint.scss';

.container{
    display: grid;
}

.section1{
    display: grid;
   align-items: center;
   justify-content: center;
   position: relative;
grid-template-columns: 1fr 1fr;

}

.text{margin-top: 3rem;

    display: grid;
    justify-content: space-around;

    position: relative;
right: 30%;

}
.header{
padding-bottom: 1rem;

margin: 0rem;
color: var(--color-primary);
}
.items{
line-height: 2.0rem;
}
.image1{
    top: 5%;
transform: scale(1.7);
position: relative;
align-items: center;
justify-content: center;
left: 43%;
}

.icon{
    margin-right: 0.5rem;
    margin-top: 0.6rem;
}

.section2{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
 grid-template-columns: 1fr 1fr;
 
}

.feat{
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    position: relative;
left: 15%;
}

.image2{
    top: 15%;
transform: scale(1.7);
position: relative;
right: 2%;
}
.outline >h2{
    color: var(--color-primary);
}
.initial{
    display: none;
    transform: scale(1.7);
position: relative;

}



















@include media('<=tablet'){
    .title{
        margin-bottom: 1.5rem;
        padding-bottom: 0rem;
    }
    .section1{
        grid-template-columns: 1fr;
        left: 0%;
        margin-right: 3rem;
        .image1{
            left: 32%;

        }
        .text{
            left: 10%;
            margin-top: 0;
            top: 0%;
            .header{
                font-size: larger;
                margin-top: 2rem;
            }
        }
    }
    .section2{
        grid-template-columns: 1fr;
        left: 0%;
        margin-right: 1.5rem;
        .image2{
            display: none;
        }
        .initial{
            display:flex;
            margin-top: 2.5rem;
            left: 30%;
        }
        .feat{
            margin-top: 1rem;
        }
    }
}
    @include media('>tablet', '<=desktop'){
    .section1{
        grid-template-columns: 1fr;
        padding-right: 3rem;
        .image1{
            margin-top: 3rem;
            margin-bottom: 1rem;
    padding-right: 7rem;

        }
        .text{
            left: 10%;
            margin-top: 0;
            top: 0%;
            .header{
                font-size: 25px;
            }
        }

    }
    .section2{
        grid-template-columns: 1fr;
        padding-right: 3rem;
    }
    .image2{
        display: none;
    }
    .initial{
        display: flex;
        margin-top: 3.5rem;
        left: 32%;
        transform: scale(1.5);
    }
    .feat{
        padding-top: 0rem;
        margin-top: 0rem;
        padding-left: 1rem;
    }
}