@import '../../breakpointsss//breakpoint.scss';

.section{
    display: grid;
    grid-template-columns: 60% 30%;
    gap: 5%;
}
.section1{
position: relative;
    top: 33%;
    left: 30%;
    height: 55%;
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background-image: url('../../assets/stadium.jpg');
background-position: bottom;
    display: grid;

}
.image{

max-width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    position: absolute;
    left: 1%;
}
.text{
    margin: auto;
    justify-content: center;
align-items: center;
    display: grid;
    position: relative;
    right: 70%;

    .header{
        color: var(--color-primary);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
.items{
    display: flex;

}
.icon{
    margin-right: 0.4rem;
    margin-top: 0.3rem;
}
}
.features{
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 5%;
    margin-top: 6rem;
    place-items: center;

.feat{
    position: relative;
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.outline{
position: relative;
left: 55%;
}
.outline>h2{
    color: var(--color-primary);
}
}
.section2{
    position: relative;
    top: 20%;
    left: 0%;
    height: 55%;
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background-image: url('../../assets/stadium.jpg');
background-position: bottom;
    display: grid;
}

.image2{
    align-items: center;
    justify-content: center;
padding-top: 7rem;
    max-width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    position:absolute;
    left: 35.5%;
}






@include media ('<=tablet'){

    section{
        margin-top: 4rem;
    }
    .section{

            grid-template-columns: 1fr;
            gap: 0;
            .image{
            width: 120%;
                margin-top: 3.5vh;
                left: 14.5%;
            }
            .text{
                left: 4%;
            }
    }


    .features{
        margin-top: 3rem;
        grid-template-columns: 1fr;
            gap: 0;
            .image2{
                width: 130%;
margin-top: 32vh;
                left: 12%;
            }
            .feat{
                margin-right: 15rem;
            }
            .section2{
                left: 0%;
            }
    }
}




    @include media('>tablet','<=desktop'){

        section{
            margin-top: 4rem;
        }
        .section{

                grid-template-columns: 1fr;
                gap: 0;
                .image{
                max-width: 120%;
                    margin-top: 2.55rem;
                    left: 14.5%;
                }
                .text{
                    left: 1%;
                }
        }

        .features{
            margin-top: 3rem;
            grid-template-columns: 1fr;
                gap: 0;
                .image2{
                   max-width: 130%;
    margin-top: 30vh;
                    left: 12%;
                }
                .feat{
                    margin-right: 19rem;
                }
                .section2{
                    left: 0%;
                }
        }


    }

